/* ------------------------------------------------------------- */
/*

Index:

1. Global Syles
  1.1 Text Styles
2. Header Section
3. Main Section
  3.1 Mission Section
  3.2 Featured Section
  3.3 Locations Section
4. Footer Section
  4.1 Contact Section
  4.2 Legal Section

*/
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* 1. Global styles */
/* ------------------------------------------------------------- */


html,
body {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #fff5ee;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

/* 1.1 Text Styles */

h1 {
  font-size: 2rem;
  color: #FD5B58;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5rem;
  color: #FD5B58;
  margin-bottom: 15px;
}

#mission h2 {
  color: #fff5ee;
  font-size: 1.2rem;
}

h3 {
  font-size: 1.125rem;
}


/* ------------------------------------------------------------- */
/* 2. Header Section */
/* ------------------------------------------------------------- */


/* header */
header {
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 245, 238, 0.2);
  width: 100%;
  height: 69px;
  box-shadow: 0 4px 8px rgba(253, 91, 88, 0.3);
  margin-bottom: 69px;
  background-color: #080808;
}

/* nav */
nav {
  margin: 9.5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a > img {
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Logo Hover effect */
nav a > img:hover {
  background-color: #FD5B58;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
}

ul {
  list-style: none;
  display: inline-flex;
}

nav li:not(:last-of-type) > a  {
  margin-right: 15px;
}

nav li > a  {
  color: #fff5ee;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Nav Links Hover effect */
nav li > a:hover  {
  color: #FD5B58;
  text-decoration: none;
}


/* ------------------------------------------------------------- */
/* 3. Main Section */
/* ------------------------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 3.1 Mission Section*/

#mission {
  position: relative;
  margin-top: 69px;
  height: 700px;
}

#mission > figure {
  height: 100%;
  width: 100%;
}

#mission > figure > img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

#mission > article {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background-color: black;
  padding: 10px;
}

/* 3.2 Featured Section */

#featured {
  max-width: 1000px;
}

#featured > article {
  width: 100%;
  padding-top: 69px;
  padding-bottom: 15px;
}

#featured > .locations-img-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#featured > .locations-img-container > figure {
  margin: 15px;
}


.img-1 > img,
.img-2 > img,
.img-3 > img,
.img-4 > img,
.img-5 > img {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

/* 3.3 Locations Section */

#locations {
  position: relative;
  margin-top: 69px;
  height: 700px;
}

#locations > figure {
  width: 100%;
  height: 100%;
}

#locations > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#locations > .card-container {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#locations > .card-container > .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#locations > .card-container > h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
  box-sizing: border-box;
  background-color: black;
  width: 300px;
  margin: 20px;
  padding: 10px;
}

.card p {
  margin-top: 10px;
  font-weight: 400;
}

/* ------------------------------------------------------------- */
/* 4. Footer Section */
/* ------------------------------------------------------------- */


/* 4.1 Contact Section */

footer {
  border-top: 1px solid rgba(255, 245, 238, 0.2);
  margin-top: 69px;
  background-color: #080808;
}

.contact > h2 {
  margin: 0;
}

.contact a {
  color: #fff5ee;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Hover */
.contact a:hover {
  color: #FD5B58;
  text-decoration: none;
}

.contact {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

/* 4.2 Legal Section */

.legal {
  border-top: 1px solid rgba(255, 245, 238, 0.2);
  padding: 20px;
  font-weight: 400;
  font-size: 0.875rem;
}